<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search</title>
</head>
<body>
    <h1>Search ticker</h1>
    <form action="/search" method="POST">
        <input name="value" th:value="${search}">
        <input type="submit" value="Submit">
    </form>
    <div class="container">
        <ul>
            <li th:each="item : ${data}">
                <p>
                    <span th:text="${item.getFigi()}">figi</span>
                    <span th:text="${item.getTicker()}">figi</span>
                    <span th:text="${item.getInstrumentType()}">figi</span>
                    <span th:text="${item.getName()}">figi</span>
                </p>
            </li>
        </ul>
    </div>
</body>
</html>