<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>
<body>
    <h1>Search ticker</h1>
    <form action="/" method="GET" accept-charset="utf-8">
        <input name="search" th:value="${search}">
        <input type="submit" value="Submit">
    </form>
    <div class="container">
        <ul>
            <li th:each="item : ${data}">
                <p>
                    <span th:text="${item.getTicker()}">ticker</span>
                    <span th:text="${item.getInstrumentType()}">name</span>
                    <a th:href="'/asset/share/' + ${item.getFigi()}" th:text="${item.getName()}">figi</a>
                </p>
            </li>
        </ul>
    </div>
</body>
</html>